<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aplikacija za zajem vremenskih podatkov">
    <meta name="keywords" content="Vreme, Vremenska napoved">
    <meta name="author" content="Matej Mencin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        href="{{ url_for('static', filename='./css/style.css') }}"
        rel="stylesheet"   
    />
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/prijava" {% block prijava_aktivna %} {% endblock %} class="nav_active">Prijava</a></li>
                <li><a href="/registracija" {% block registracija_aktivna %} {% endblock %} >Registracija</a></li>
                <li><a href="/odjava" {% block registracija_aktivna %} {% endblock %} >Odjava</a></li>
                <li><a href="/" {% block kontakt_aktivna %} {% endblock %} >Domov</a></li>
            </ul>
        </nav>
        <div class="telo">
            {% block telo %}
            {% endblock %}
        </div>
    </main>
    <footer>
        Aplikacijo je izdelal: <b>Matej Mencin</b> | Junij 2023 | Povezava do <a href="#">GitHuba</a>
    </footer>
</body>
</html>